data/*

wandb
/runs
/raw_data/*.py
/raw_data/*.txt
/raw_data/mTQA*
/raw_data/qg_dutch.json
/raw_data/qg_train.json
/raw_data/dev-v2.0.json

t5_qg_tokenizer
/qgenv
.idea/

*.lock
*.pt
__pycache__
update.sh