


/runs
/data/cc_debug
/data/cc_qg/org_train_qa_pairs.txt
/data/cc_qg/cache
data/cc_qg/train_qa_pairs.txt
data/cc_qg/valid_qa_pairs.txt
data/cc_qg/cc_qg.py.lock
t5_qg_tokenizer
/qgenv
.idea/

*.lock
*.pt
__pycache__
