{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <style>
        body {
            background: #e8f1f9;
        }
    </style>
{% endblock %}


{% block title %}
    Question Generator
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

                <h1 class="pt-5 pb-2">Question generation with T5!</h1>


                {{ wtf.quick_form(form) }}

            <hr>
                <label><strong>Questions & Answers</strong></label>

                {% if questions == "" %}
                    <p class="pt-5"><strong></strong></p>
                {% else %}
                    <p>
{#                    <ol>#}
                        {% for pair in questions %}
{#                            <li>#}
                            <p>
                                [{{ loop.index }}]
                                <strong> {{pair['question'] }} </strong>
                                {{ pair['answer']}}
                            </p>

{#                            </li>#}
                        {% endfor %}

{#                    </ol>#}
                    </p>
                               
                {% endif %}


            </div>
        </div>
    </div>

{% endblock %}